<div class="h-full">
  <div
    class="app__container__header h-[5em] w-full border-b-[1px] border-[#0000001a]"
  >
    <button (click)="changeLanguage('ar')">Arabic</button>
    <button (click)="changeLanguage('en')">English</button>
  </div>
  <div class="app__outlet flex justify-between h-[calc(100vh-5em)]">
    <div class="home__content bg-slate-100 w-[70%]">
      <div class="home__readings">
        <app-readings-wrapper></app-readings-wrapper>
      </div>
      <div class="home__table">
        <app-table-component></app-table-component>
      </div>
    </div>
    <div class="side__content w-[30%] border-[1px]">
      <app-side-panel></app-side-panel>
    </div>
  </div>
</div>
