<div class="h-full">
  <div
    class="app__container__header h-[5em] w-full border-b-[1px] border-[#0000001a]"
  >
    <button (click)="changeLanguage('ar')">Arabic</button>
    <button (click)="changeLanguage('en')">English</button>
  </div>
  <div class="app__outlet flex justify-between">
    <div class="home__content bg-slate-100 w-[70%]">
      <div class="flex  h-64">

      </div>
      <div class="filters__panel">

      </div>
      <div class="table__view  h-64">

      </div>
    </div>
    <div class="side__content h-64 w-[30%] border-s-[1px]">
      <app-side-panel></app-side-panel>
    </div>
  </div>
</div>
