<div class="notification__card w-[90%] m-auto p-3 border-[1px] rounded-lg" [style]="getCardStyles()">
  <div class="notification__title text-[14px] font-[600]">
    {{ item.title }}
  </div>
  <div class="notification__time_range text-[12px] font-[400] mt-1">
    {{ item.from }} - {{ item.to }}
  </div>
  <div class="notification__tail flex justify-between items-center mt-4">
    <div class="notification_id flex mb-2">
      <figure class="w-[2em] h-[2em] rounded-full overflow-hidden">
        <img [src]="item.avatar" alt="" />
      </figure>
      <p *ngIf="item.name" translate="">
        {{ item.name }}
      </p>
    </div>
    <div class="notification__navigator">
      <svg width="39" height="33" viewBox="0 0 39 33" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="0.25" y="0.675995" width="38.25" height="31.5225" rx="11.25" fill="white"/>
        <path d="M24.625 16.4308L14.125 16.4308M14.125 16.4308L17.5662 19.4308M14.125 16.4308L17.5662 13.4308" stroke="#363853" stroke-width="1.125" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        
    </div>
  </div>
</div>
