<div class="card">
  <p-table
    [value]="[]"
    [paginator]="true"
    [rows]="5"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[10, 20, 30]"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 10%" *ngFor="let header of tableHeaders">
          {{ header }}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body">
      <tr>
        <td style="width: 10%" *ngFor="let header of tableHeaders">
          {{ header }}
        </td>
      </tr>
      <tr>
        <td>aaa</td>
        <td>aaa</td>
        <td>aaa</td>
        <td>aaa</td>
      </tr>
      <tr>
        <td>aaa</td>
        <td>aaa</td>
        <td>aaa</td>
        <td>aaa</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <p-button
        type="button"
        icon="pi pi-plus"
        styleClass="p-button-text"
      ></p-button>
    </ng-template>
    <ng-template pTemplate="paginatorright">
      <p-button
        type="button"
        icon="pi pi-cloud"
        styleClass="p-button-text"
      ></p-button>
    </ng-template>
  </p-table>
</div>
