<div class="flex flex-col justify-between gap-2">
    <div
  class="notification__card p-3 border-[1px] rounded-xl text-white"
>
  <div class="notification__title text-[14px] font-[600]">
    <p translate>Another Readings</p>
  </div>
  <div
    class="notification__time_range text-[25px] font-extrabold mt-1 flex gap-2"
  >
    <p>35</p>
    <div class="font-normal text-base">icon</div>
  </div>
</div>
<div
  class="notification__card p-2 border-[1px] rounded-lg text-white"
>
  <div class="notification__title text-[14px] font-[600]">
    <p translate>Another Readings</p>
  </div>
  <div
    class="notification__time_range text-[25px] font-extrabold mt-1 flex gap-2"
  >
    <p>35</p>
    <div class="font-normal text-base">icon</div>
  </div>
</div>
<div
  class="notification__card p-2 border-[1px] rounded-lg text-white"
>
  <div class="notification__title text-[14px] font-[600]">
    <p translate>Another Readings</p>
  </div>
  <div
    class="notification__time_range text-[25px] font-extrabold mt-1 flex gap-2"
  >
    <p>35</p>
    <div class="font-normal text-base">icon</div>
  </div>
</div>

</div>