<div
  class="user__readings__container p-3 border-[1px] rounded-xl min-h-full text-[14px] font-[500]"
>
  <div class="user__readings__header flex justify-between items-center">
    <div translate>First Person</div>
  </div>
  <div class="flex items-stretch">
    <div class="user__readings__content flex flex-col h-full justify-between">
      <div class="readings__data flex flex-col">
        <div class="reading__no text-[#5b5b5b] mb-2" translate>Reading 1</div>
        <div class="reading_value text-[25px] font-extrabold">254</div>
      </div>
      <div class="readings__data flex flex-col">
        <div class="reading__no text-[#5b5b5b] mb-2" translate>Reading 2</div>
        <div class="reading_value text-[25px] font-extrabold">254</div>
      </div>
      <div class="readings__data flex flex-col">
        <div class="reading__no text-[#5b5b5b] mb-2" translate>Reading 3</div>
        <div class="reading_value text-[25px] font-extrabold">254</div>
      </div>
    </div>
    <div class="readings__visuals h-[calc(100%)]"></div>
  </div>
</div>
